.tag {
  min-width: 140px;
  height: 42px;
  border-radius: 15px;
  background: #0000004f;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  user-select: none;

  span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.noEvent {
  pointer-events: none;
  cursor: default;
}
