.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background: var(--primary);

  .buttons {
    display: flex;
    gap: 15px;
  }
}
