.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: var(--primary);

  .containerLink {
    display: flex;
    gap: 15px;
  }

  .link {
    text-transform: uppercase;
  }

  .active {
    color: #0f9cd3;
  }
}
